#exhibit {
    border: 1px solid black;
    border-radius: 0.3125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
#exhibit > h3 {
    margin: 0;
}
  
#grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
}
