#latency-div, #ip-div {
    background-color: rgb(231, 231, 231);
    border-radius: 0.3125rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 95%;
}

#latency-div > h2 {
    text-align: center;
}

#legend {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#dark-green, #light-green, #orange, #red {
    display: inline-block;
    height: 0.5rem;
    margin: 0 0.5rem;
    width: 1rem;
}

#dark-green {
    background-color: darkgreen;
}

#light-green {
    background-color: lightgreen;
}

#orange {
    background-color: orange;
}

#red {
    background-color: red;
}